<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Home', root_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li><%= link_to 'Nosotros', estaticas_nosotros_path %></li>
      <li><%= link_to 'Contacto', estaticas_contacto_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if !autor_signed_in? %>
  		  <li><%= link_to 'Iniciar Sesión', new_autor_session_path %></li>
      <% else %>
        <li><%= link_to 'Nuevo Artículo', new_articulo_path %></li>
  		  <li><%= link_to 'Cerrar Sesión', destroy_autor_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</nav>
